.vertical-header .banner-page-section {
    margin-top: 0;
  }
  .banner-page-section {
      padding: 140px 0;
      margin-top: 90px;
      background: url('logoHOT.png') center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      text-align: center;
    }
    .banner-page-section h1 {
      color: #222222;
      font-size: 36px;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      margin: 0 0 25px;
      letter-spacing: -0.5px;
      color: #ffffff;
      font-size: 60px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .banner-page-section p {
      font-size: 18px;
      color: #eeeeee;
      font-family: 'Droid Serif', serif;
      font-style: italic;
      margin: 0;
    }
    
    .banner-page-section.contact-banner {
      background: url('turban.jpg') center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    .vertical-header section.contact-page-section .contact-info .contact-info-box {
      padding-top: 75px;
      border: none;
    }
    .vertical-header section.contact-page-section .contact-info .contact-info-box p {
      margin-bottom: 40px;
    }
    .vertical-header section.contact-page-section .contact-form .title-section {
      text-align: left;
      margin-bottom: 35px;
      
    }
    
    .vertical-header section.contact-page-section .contact-form .title-section h1:after {
      left: 0;
      margin-left: 0;
    }
    .vertical-header section.contact-page-section .submit-area {
      text-align: left;
      margin-top: 15px;
    }
    .contact-page-section .contact-info .contact-info-box {
      padding: 55px 0;
      border-bottom: 1px solid #eeeeee;
    }
    .contact-page-section .contact-info .contact-info-box span {
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      background: #333333;
      margin: 0 30px 10px 0;
      text-align: center;
      float: left;
    }
    .contact-page-section .contact-info .contact-info-box span i {
      color: #ffffff;
      font-size: 30px;
      line-height: 70px;
    }
    .contact-page-section .contact-info .contact-info-box h2 {
      color: #222222;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 20px;
      margin-bottom: 7px;
    }
    .contact-page-section .contact-info .contact-info-box p {
      margin-bottom: 0px;
    }
    .contact-page-section .map {
      height: 385px;
    }
    .contact-page-section .contact-form {
      padding: 75px 0 100px;
    }
    .contact-page-section .contact-form #contact-form {
      max-width: 775px;
      margin: 0 auto;
    }
    .contact-page-section .contact-form #contact-form input[type="text"],
    .contact-page-section .contact-form #contact-form textarea {
      display: block;
      width: 100%;
      padding: 12px 20px;
      background: #f7f7f7;
      color: #999999;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
      outline: none;
      border: 1px solid transparent;
      margin: 0 0 10px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
    .contact-page-section .contact-form #contact-form input[type="text"]:focus,
    .contact-page-section .contact-form #contact-form textarea:focus {
      border: 1px solid #999999;
      background: transparent;
    }
    .contact-page-section .contact-form #contact-form textarea {
      height: 130px;
    }
    .contact-page-section .contact-form #contact-form input[type="submit"] {
      color: #81cfe0;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid #81cfe0;
      padding: 10px 40px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
    .contact-page-section .contact-form #contact-form input[type="submit"]:hover {
      background: #81cfe0;
      color: #ffffff;
    }
    .contact-page-section .submit-area {
      margin-top: 50px;
      text-align: center;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box span {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #eeeeee;
      line-height: 68px;
      background: #f7f7f7;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box span i {
      color: #999999;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 {
      text-align: center;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 span {
      float: none;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 span i {
      color: #81cfe0;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 h2 {
      margin-bottom: 25px;
    }
    .contact-page-section.alternative-style .outer-map {
      position: relative;
    }
    .contact-page-section.alternative-style .outer-map .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .contact-page-section.alternative-style .outer-map .container {
      position: relative;
      z-index: 2;
    }
    .contact-page-section.alternative-style .outer-map .contact-form #contact-form input[type="text"]:focus,
    .contact-page-section.alternative-style .outer-map .contact-form #contact-form textarea:focus {
      border: 1px solid #999999;
      background: #ffffff;
    }
    .contact-page-section.alternative-style .outer-map:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 50%;
      right: 50px;
      top: 0;
      margin-left: 20px;
      background: #afcefe;
    }
    .contact-page-section.alternative-style .contact-form {
      padding-left: 80px;
    }
    .contact-page-section.alternative-style .contact-form .title-section {
      text-align: left;
      margin-bottom: 50px;
    }
    .contact-page-section.alternative-style .contact-form .title-section h1,
    .contact-page-section.alternative-style .contact-form .title-section h3 {
      color: #ffffff;
    }
    .contact-page-section.alternative-style .contact-form .title-section h1:after {
      left: 0;
      margin-left: 0;
      background: #ffffff;
    }
    .contact-page-section.alternative-style .contact-form #contact-form .submit-area {
      text-align: left;
      margin-top: 20px;
    }
    .contact-page-section.alternative-style .contact-form #contact-form .submit-area input[type="submit"] {
      border: 1px solid #ffffff;
      color: #ffffff;
    }
    .contact-page-section.alternative-style .contact-form #contact-form .submit-area input[type="submit"]:hover {
      background: #ffffff;
      color: #222222;
    }
    .contact-page-section.alternative-style .contact-form {
      padding-left: 20px;
    }
    .contact-page-section .contact-info .contact-info-box .col-md-4 {
      overflow: hidden;
      margin-bottom: 30px;
    }
    .contact-page-section .contact-info .contact-info-box {
      padding-bottom: 0;
    }
    .contact-page-section.alternative-style .outer-map:after {
      width: 100%;
      height: 100%;
      left: 0;
      right: initial;
      top: 0;
      margin-left: 0;
    }
    .contact-page-section.alternative-style .outer-map .map {
      position: relative;
      top: initial;
      left: initial;
      height: 300px;
      z-index: 2;
    }
    .contact-page-section.alternative-style .contact-form {
      padding-left: 0;
    }
    .vertical-header section.contact-page-section .contact-info .contact-info-box {
      padding-top: 75px;
      border: none;
    }
    .vertical-header section.contact-page-section .contact-info .contact-info-box p {
      margin-bottom: 40px;
    }
    section.contact-construct-section .contact-info .contact-info-box {
      padding: 60px 0 0 70px;
    }
    section.contact-construct-section .contact-info .contact-info-box .contact-info-post {
      margin-bottom: 30px;
    }
    section.contact-construct-section .contact-info .contact-info-box span {
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #f9bf3b;
      margin: 0 30px 10px 0;
      text-align: center;
      float: left;
    }
    section.contact-construct-section .contact-info .contact-info-box span i {
      color: #f9bf3b;
      font-size: 30px;
      line-height: 70px;
    }
    section.contact-construct-section .contact-info .contact-info-box h2 {
      color: #222222;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 20px;
      margin-bottom: 16px;
      color: #f9bf3b;
    }
    section.contact-construct-section .contact-info .contact-info-box p {
      color: #ccc;
      margin-bottom: 0px;
    }
    section.contact-line-section .contact-info {
      display: flex;
      align-items: center;
    }
    section.contact-line-section .contact-info i {
      width: 70px;
      height: 70px;
      border: 1px solid #fff;
      font-size: 34px;
      text-align: center;
      line-height: 68px;
      color: #fff;
      margin-right: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
    }
    section.contact-line-section .contact-info p {
      font-size: 14px;
      margin: 10px 0;
      text-transform: uppercase;
      color: #222222;
      font-weight: 600;
    }
    section.contact-line-section .contact-info p span {
      color: #fff;
    }
    .contact-page-section .contact-info .contact-info-box {
      padding: 55px 0;
      border-bottom: 1px solid #eeeeee;
    }
    .contact-page-section .contact-info .contact-info-box span {
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      background: #333333;
      margin: 0 30px 10px 0;
      text-align: center;
      float: left;
    }
    .contact-page-section .contact-info .contact-info-box span i {
      color: #ffffff;
      font-size: 30px;
      line-height: 70px;
    }
    .contact-page-section .contact-info .contact-info-box h2 {
      color: #222222;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 20px;
      margin-bottom: 7px;
    }
    .contact-page-section .contact-info .contact-info-box p {
      margin-bottom: 0px;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box span {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #eeeeee;
      line-height: 68px;
      background: #f7f7f7;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box span i {
      color: #999999;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 {
      text-align: center;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 span {
      float: none;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 span i {
      color: #81cfe0;
    }
    .contact-page-section.alternative-style .contact-info .contact-info-box.info-box2 h2 {
      margin-bottom: 25px;
    }
    section.contact-construct-section .contact-info .contact-info-box {
      padding: 0;
      margin-bottom: 50px;
    }
    section.contact-line-section .contact-info {
      margin-bottom: 30px;
    }
    .contact-page-section .contact-info .contact-info-box .col-md-4 {
      overflow: hidden;
      margin-bottom: 30px;
    }
    .contact-page-section .contact-info .contact-info-box {
      padding-bottom: 0;
    }
  